/* 
colors
    #654aff-purple
    #333333-grey
    #337ab7-blue
    gray
    number3 is f2f2f2f2
    number2 is ffffffff
    background efefefeef
font
    Roboto
    Aria
    san-serif
*/
@font-face {
    font-family:Raleway ;
    src: url(Raleway-VariableFont_wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

/* top */

#top{
    background-color: #ffffff;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    padding: 20px 8%;
    
}

#top img{
    height: 32px;
}

/* END--top */

/* area-1 */

#area-1{
    background-color: #ffffff;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

#area-1 .text{
    display: flex;
    flex-direction: column;
    width: 35%;
}

#area-1 #line{
    height: 5px;
    background-color: #654aff;
    width: 28%;
    margin-bottom: 20px;
}

#area-1 .text .heading{
    color: #654aff;
    font-size: 60px;
    font-weight: 80;
    margin-bottom: 25px;
}

#area-1 .text p{
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    /* letter-spacing: 1px; */
}

#area-1 .text  #last{
    margin-bottom: 20px;
}

#area-1 .text #link{
    margin-bottom: 30px;
    letter-spacing: 1px;
}

#area-1 .text #link a{
    color: #000;
}

#area-1 .text #link a:hover{
    margin-bottom: 30px;
    text-decoration: none;
}

#area-1 .text button{
    height: 55px;
    width: 55%;
    background-color: #654aff;
    color: #ffffff;
    font-size: 20px;
    font-weight: 0;
    border: 2px;
    border-radius: 5px;
    letter-spacing: 3px;
}


#area-1 .text button:hover{
    height: 55px;
    width: 56%;
    background-color: #ffffff;
    color:#654aff;
    font-size: 20px;
    font-weight: 0;
    border: 2px #3334 soLid;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor:pointer;
}

#area-1 img{
    width: 65%;
    height: 600px;
}
/* END--area-1 */

/* area-2 */

#area-2{
    background-color: #654aff;
    padding-top: 100px;
    padding-bottom: 50px;
    /* height: 750px; */
    text-align: center;
    /* border: solid #000 1px; */
}

#area-2 h1{
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 10px;
}

#area-2 p{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 60px ;
}

#area-2 #section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: #000 solid 1px; */
}


#area-2 #section .sections{
    background-color: #ffffff;
    color: #3334;
    border-radius: 20px;
    width: 27%;
    /* height: 400px; */
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    text-align: center;
    /* border: solid 1px #000; */
}

#area-2 #section .sections img{
    background-color: #fffff0;
    height: 80px;
    border-radius: 50%;
    padding: 15px;
    position: relative;
    bottom: 20px;
    /* border: #000 solid 1px; */
    /* margin-bottom: 30px; */
}

#area-2 #section .sections h2{
    color: #654aff;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#area-2 #section .sections p{
    color: #3334;
    line-height: 1.5em;
    /* border: #000 solid 1px; */
    margin: 0px;
}

#area-2 #section .sections button{
    margin-top: 20px;
    height: 45px;
    width: 30%;
    background-color: #ffffff;
    border: #654aff solid 2px;
    border-radius: 5px;
}

#area-2 #section .sections button:hover{
    margin-top: 20px;
    height: 45px;
    width: 32%;
    background-color: #ffffff;
    border: grey solid 2px;
    border-radius: 5px;
    cursor: pointer;
}


/* END--area-2 */

/* area-3 */

#area-3{
    background-color: #ffffff;
    /* height: 750px; */
    padding-left: 10%;
    padding-right: 13%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#area-3 img{
    width: 40%;
    /* border: yellow solid 2px; */
}

#area-3 #writing{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 55%;
    /* padding-left: 40px; */
    /* border: solid #000 2px; */
}

#area-3 #writing #tech{
    color: #654aff;
    font-size: 20px;
    /* padding-top: 30px; */
}

#area-3 #writing #head{
    font-size: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: lighter;
    font-family: Raleway;
    margin-left: 10px;
    letter-spacing: 0.05em;
}

#area-3 #writing p{
    color: #000;
    line-height: 1.5;
}

#area-3 #writing #link{
    margin-top: 20px;
}

#area-3 #strip{
    height: 2px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: gray;
}

#area-3 #writing #bulb{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    /* border: solid 1px red; */
}

#area-3 #writing #bulb img{
    height: 90px;
    width: 105px;
    border-radius: 50%;
    padding: 20px;
    margin-right: 20px;
}

#area-3 #writing #phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 20px;
    /* border: solid 1px red; */
}

#area-3 #writing #phone img{
    height: 90px;
    width: 105px;
    border-radius: 50%;
    padding: 20px;
    margin-right: 20px;
}

/* END--area-3 */

/* area-4 */

#area-4{
    background-color: #e2e2e2;
    text-align: center;
    padding-left:15%;
    padding-right: 15%;
    padding-top: 80px;
    padding-bottom: 50px;
}

#area-4 h1{
    color: #654aff;
    font-size: 60px;
    margin-bottom: 10px;
}

#area-4 #par{
    color: #000;
    font-size: 20px;
    margin-bottom: 50px ;
    font-weight: lighter;
}

#area-4 #part .parts{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    height: 160px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding-right: 0;
    /* border: red solid 1px; */
}

#area-4 #part #part-1{
    background-color: #f2f2f2;
}

#area-4 #part #part-3{
    background-color: #654aff;
}

#area-4 #part #part-3 .numbers{
    color:#ffffff;

}


#area-4 #part #part-3 p{
    color: #ffffff;
}

#area-4 #part .parts .numbers{
    font-size: 65px;
    color: #654aff;
    margin-left: 20px;
    font-family: Helvetica;
    padding-top: 20px;
    /* border: yellow solid 1px; */
}

#area-4 #part .parts div{
   margin-left: 20px;
    text-align: left;
    padding-top: 45px;
    /* border: #000 solid 1px; */
}

#area-4 #part .parts p{
    line-height: 1.5;

}

/* END--area-4 */

/* area-5 */

#area-5{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15%;
    padding-right: 10%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#area-5 img{
    width: 50%;
    /* border: yellow 1px solid; */
}

#area-5 #side{
    width: 50%;
    padding-left: 0;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 20px;
    /* border: red solid 1px; */
}

#area-5 #side img{
    height: 90px;
    width: 105px;
    border-radius: 50%;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#area-5 #side .head-2{
    font-size: 35px;
    font-weight: 0;
}

#area-5 #side #par-1{
    margin-top: 20px;
    line-height: 1.5;
    font-size: 17px;
    /* border: #000 solid 1px; */
}

#area-5 #side #par-2{
    margin-top: 20px;
    line-height: 1.5;
    font-weight: bolder;
    font-size: 17px;
}

#area-5 #side #link{
    margin-top: 20px;
}

#area-5 #side #link a{
    color: #654aff;
}

#area-5 #side #link a:hover{
    text-decoration: none;
}

#area-5 #side button{
    margin-top: 20px;
    height: 45px;
    width: 30%;
    background-color: #ffffff;
    border: #654aff solid 2px;
    border-radius: 5px;
    font-size: 15px;
}

#area-5 #side button:hover{
    margin-top: 20px;
    height: 45px;
    width: 32%;
    background-color: #ffffff;
    border: grey solid 2px;
    border-radius: 5px;
    cursor: pointer;
}

/* END--area-5 */

/* area-6 */

#area-6{
    height: 650px;
    /* background-image: url(../images/img4.jpg); */
    background-size: cover;
    background-position: center;
    padding: 100px 8%;
    border: 1px yellow solid;
}

#area-6 div{
    background-color: #ffffff;
    padding: 50px 30px;
    width: 45%;
    border: 1px red solid;
}

#area-6 #tech{
    color: #654aff;
    font-size: 19px;
    margin-bottom: 25px;
    /* padding-top: 30px; */
}

#area-6 .head-3{
    color: #654aff;
    font-size: 60px;
    letter-spacing: 1.5;
}

#area-6 #link{
    margin-top: 20px;
    font-size: medium;
    letter-spacing: 3px;
}

#area-6 #link a{
    color: #000;
    font-size: medium;
    letter-spacing: 0.1em;
}

#area-6 #link a:hover{
    text-decoration: none;
    letter-spacing: 0.1em;
}


#area-6 button{
    margin-top: 25px;
    height: 55px;
    width: 30%;
    background-color: #ffffff;
    border: #654aff solid 2px;
    border-radius: 5px;
    font-size: 15px;
}

#area-6 button:hover{
    margin-top: 25px;
    height: 55px;
    width: 32%;
    background-color: #ffffff;
    border: grey solid 2px;
    border-radius: 5px;
    cursor: pointer;
}

/* END--area-6 */

/* area-7 */

#area-7{
    padding: 100px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: yellow 1px solid; */
}

#area-7 #half-1{
    width: 48%;
    /* border: red 1px solid; */
} 

#area-7 #half-1 h1{
    color: #654aff;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 3px;
}

#area-7 #half-1 p{
    line-height: 1.5;
    text-align: justify;
    line-height: 2;
}

#area-7 #half-1 #link-2{
    display: flex;
    flex-direction: row;
}

#area-7 #half-1 #link-2 a{
    padding-top: 26px;
    margin-right: 5px;
    /* border: red 1px solid; */
}

#area-7 #half-1 #link-2 p{
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    /* border: blue 1px solid; */
}

#area-7 #half-2{
    width: 48%;
    /* border: #000 1px solid; */
}

#area-7 #half-2 p{
    font-size: 55px;
    color: #654aff;
}

#area-7 #half-2 #comment{
    color: #000;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 15px;
}

/* END--area-7 */

/* area-8 */

#area-8{
    background-color: #654aff;
    text-align: center;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#area-8 p{
    color: #ffffff;
    letter-spacing: 5px;
    font-size: 60px;
    margin-bottom: 15px;
}

#area-8 #icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    /* border: red 1px solid; */
}

#area-8 #icons img{
    margin: 15px;
}

#area-8 #strip-2{
    background-color: #ffffff;
    height: 8px;
    width: 8%;
}

/* END--area-7 */

/* footer */

footer{
    background-color: #333333;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

footer p{
    color:#ffffff;
    font-size: 15px;
}

footer #link-2{
    margin-top: 90px;
    font-size: 12px;
    letter-spacing: 1px;
}

footer #link-2 a{
    color: lightblue;
}

footer #link-2 a:hover{
    color: lightblue;
    text-decoration: none;
}

/* END--footer */

/* responsive design */

@media only screen and (max-width: 600px) {
   /* area-1 */

   #area-1{
    background-color: #ffffff;
    /* padding-left: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#area-1 .text{
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
}

#area-1 #line{
    height: 5px;
    background-color: #654aff;
    width: 28%;
    margin-bottom: 20px;
    
}

#area-1 .text .heading{
    color: #654aff;
    font-size: 60px;
    font-weight: 80;
    margin-bottom: 25px;
}

#area-1 .text p{
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    /* letter-spacing: 1px; */
}

#area-1 .text  #last{
    margin-bottom: 20px;
}

#area-1 .text #link{
    margin-bottom: 30px;
    letter-spacing: 1px;
}

#area-1 .text #link a{
    color: #000;
}

#area-1 .text #link a:hover{
    margin-bottom: 30px;
    text-decoration: none;
}

#area-1 .text button{
    height: 55px;
    width: 55%;
    background-color: #654aff;
    color: #ffffff;
    font-size: 20px;
    font-weight: 0;
    border: 2px;
    border-radius: 5px;
    letter-spacing: 3px;
}


#area-1 .text button:hover{
    height: 55px;
    width: 56%;
    background-color: #ffffff;
    color:#654aff;
    font-size: 20px;
    font-weight: 0;
    border: 2px #3334 soLid;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor:pointer;
}

#area-1 img{
    margin-top: 10px;
    width: 100%;
    height: 600px;
}

   /* END--area-1 */

   /* area-2 */

   #area-2{
    background-color: #654aff;
    padding-top: 50px;
    padding-bottom: 20px;
    /* height: 750px; */
    text-align: center;
    /* border: solid #000 1px; */
}

    #area-2 h1{
        color: #ffffff;
        font-size: 60px;
        margin-bottom: 10px;
    }

    #area-2 p{
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 60px ;
    }

    #area-2 #section{
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        /* border: #000 solid 1px; */
    }


    #area-2 #section .sections{
        background-color: #ffffff;
        color: #3334;
        border-radius: 20px;
        width: 70%;
        /* height: 400px; */
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 20px;
        margin-bottom: 30px;
        text-align: center;
        border: solid 1px #000;
    }

    #area-2 #section .sections img{
        background-color: #fffff0;
        height: 80px;
        border-radius: 50%;
        padding: 15px;
        position: relative;
        bottom: 20px;
        /* border: #000 solid 1px; */
        /* margin-bottom: 30px; */
    }

    #area-2 #section .sections h2{
        color: #654aff;
        font-size: 23px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #area-2 #section .sections p{
        color: #3334;
        line-height: 1.5em;
        /* border: #000 solid 1px; */
        margin: 0px;
    }

    #area-2 #section .sections button{
        margin-top: 20px;
        height: 45px;
        width: 30%;
        background-color: #ffffff;
        border: #654aff solid 2px;
        border-radius: 5px;
    }

    #area-2 #section .sections button:hover{
        margin-top: 20px;
        height: 45px;
        width: 32%;
        background-color: #ffffff;
        border: grey solid 2px;
        border-radius: 5px;
        cursor: pointer;
    }

   /* END--area-2 */

   /* area-3 */

    #area-3{
        background-color: #ffffff;
        /* height: 750px; */
        padding-left: 10%;
        padding-right: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    #area-3 img{
        width: 100%;
        height: 500px;
        /* border: yellow solid 2px; */
    }

    #area-3 #writing{
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        /* padding-left: 40px; */
        /* border: solid #000 2px; */
    }

    #area-3 #writing #tech{
        color: #654aff;
        font-size: 20px;
        /* padding-top: 30px; */
    }

    #area-3 #writing #head{
        font-size: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: lighter;
        font-family: Raleway;
        margin-left: 10px;
        letter-spacing: 0.05em;
    }

    #area-3 #writing p{
        color: #000;
        line-height: 1.5;
    }

    #area-3 #writing #link{
        margin-top: 20px;
    }

    #area-3 #strip{
        height: 2px;
        width: 90%;
        margin-bottom: 30px;
        margin-top: 30px;
        background-color: #efefef;
    }

    #area-3 #writing #bulb{
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        align-items: center;
        /* border: solid 1px red; */
    }

    #area-3 #writing #bulb img{
        height: 90px;
        width: 105px;
        border-radius: 50%;
        padding: 20px;
        margin-right: 20px;
    }

    #area-3 #writing #phone{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: space-between; */
        margin-top: 20px;
        /* border: solid 1px red; */
    }

    #area-3 #writing #phone img{
        height: 90px;
        width: 105px;
        border-radius: 50%;
        padding: 20px;
        margin-right: 20px;
    }

    /* END--area-3 */

    /* area-4 */

    #area-4{
        background-color: #e2e2e2;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #area-4 h1{
        color: #654aff;
        font-size: 60px;
        margin-bottom: 10px;
    }

    #area-4 #par{
        color: #000;
        font-size: 20px;
        margin-bottom: 50px ;
        font-weight: lighter;
    }

    #area-4 #part .parts{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        height: fit-content;
        padding-bottom: 10px;
        margin-bottom: 30px;
        background-color: #ffffff;
        padding-right: 0;
        /* border: red solid 1px; */
    }

    #area-4 #part #part-1{
        background-color: #f2f2f2;
    }

    #area-4 #part #part-3{
        background-color: #654aff;
    }

    #area-4 #part #part-3 .numbers{
        color:#ffffff;

    }


    #area-4 #part #part-3 p{
        color: #ffffff;
    }

    #area-4 #part .parts .numbers{
        font-size: 65px;
        color: #654aff;
        margin-left: 20px;
        font-family:Helvetica;
        padding-top: 20px;
        /* border: yellow solid 1px; */
    }

    #area-4 #part .parts div{
        margin-left: 20px;
        text-align: left;
        height: fit-content;
        padding-top: 45px;
        /* border: #000 solid 1px; */
    }

    #area-4 #part .parts p{
        line-height: 1.5;

    }

    /* END--area-4 */

    /* area-5 */

    #area-5{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10%;
        padding-right: 5%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column-reverse;
    }
    
    #area-5 img{
        width: 100%;
        height: 500px;
        border: yellow 1px solid;
    }
    
    #area-5 #side{
        width: 100%;
        padding-left: 0;
        padding-right: 5%;
        padding-top: 30px;
        padding-bottom: 20px;
        /* border: red solid 1px; */
    }
    
    #area-5 #side img{
        height: 90px;
        width: 105px;
        border-radius: 50%;
        padding: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
    #area-5 #side .head-2{
        font-size: 35px;
        font-weight: 0;
    }
    
    #area-5 #side #par-1{
        margin-top: 20px;
        line-height: 1.5;
        font-size: 17px;
        /* border: #000 solid 1px; */
    }
    
    #area-5 #side #par-2{
        margin-top: 20px;
        line-height: 1.5;
        font-weight: bolder;
        font-size: 17px;
    }
    
    #area-5 #side #link{
        margin-top: 20px;
    }
    
    #area-5 #side #link a{
        color: #654aff;
    }
    
    #area-5 #side #link a:hover{
        text-decoration: none;
    }
    
    #area-5 #side button{
        margin-top: 20px;
        height: 45px;
        width: 30%;
        background-color: #ffffff;
        border: #654aff solid 2px;
        border-radius: 5px;
        font-size: 15px;
    }
    
    #area-5 #side button:hover{
        margin-top: 20px;
        height: 45px;
        width: 32%;
        background-color: #ffffff;
        border: grey solid 2px;
        border-radius: 5px;
        cursor: pointer;
    }

    /* END--area-5 */

    /* area-6 */

    #area-6{
        height: 600px;
        /* background-image: url(../images/img4.jpg); */
        background-size: cover;
        background-position: center;
        padding: 50px 8%;
        border: 1px yellow solid;
    }
    
    #area-6 div{
        background-color: #ffffff;
        padding: 20px 10px;
        width: 70%;
        border: 1px red solid;
    }
    
    #area-6 #tech{
        color: #654aff;
        font-size: 12px;
        margin-bottom: 20px;
    }
    
    #area-6 .head-3{
        color: #654aff;
        font-size: 45px;
    }
    
    #area-6 #link{
        margin-top: 20px;
        font-size: 15px;
    
    }
    
    #area-6 #link a{
        color: #000;
        font-size: medium;
        letter-spacing: 0.1em;
    }
    
    #area-6 #link a:hover{
        text-decoration: none;
        letter-spacing: 0.1em;
    }
    
    
    #area-6 button{
        margin-top: 25px;
        height: 55px;
        width: 30%;
        background-color: #ffffff;
        border: #654aff solid 2px;
        border-radius: 5px;
        font-size: 15px;
    }
    
    #area-6 button:hover{
        margin-top: 25px;
        height: 55px;
        width: 32%;
        background-color: #ffffff;
        border: grey solid 2px;
        border-radius: 5px;
        cursor: pointer;
    }

    /* END--area-6 */

    /* area-7 */

    #area-7{
        padding: 100px 10%;
        display: flex;
        flex-direction: column;
        /* border: yellow 1px solid; */
    }
    
    #area-7 #half-1{
        width: 100%;
        margin-bottom: 20px;
        /* border: red 1px solid; */
    } 
    
    #area-7 #half-1 h1{
        color: #654aff;
        margin-bottom: 30px;
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 2px;
    }
    
    #area-7 #half-1 p{
        line-height: 1.5;
        text-align: justify;
    }
    
    #area-7 #half-1 #link-2{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        /* border: 1px #000 solid ; */
    }
    
    #area-7 #half-1 #link-2 a{
        padding-top: 15px;
        margin-right: 5px;
        /* border: red 1px solid; */
    }
    
    #area-7 #half-1 #link-2 p{
        line-height: normal;
        font-size: 20px;
        font-weight: bold;
        margin-top: 19px;
        /* border: blue 1px solid; */
    }
    
    #area-7 #half-2{
        width: 100%;
        /* border: #000 1px solid; */
    }
    
    #area-7 #half-2 p{
        font-size: 55px;
        color: #654aff;
    }
    
    #area-7 #half-2 #comment{
        color: #000;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: 15px;
    }

    /* END--area-7 */
}

/* END--responsive design */